logdir/*
checkpoint*
tracker_weights*
yolov4.weights
__pycache__/*
*.weights
/logdir
/__pycache__
config.py
/weights*
/weights_old
weights_old/
/2021*
2021*
pictures/
/pictures
other/
/other
__pycache__
keyframes/
/keyframes
keyframes
*.json